.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(214, 206, 206);
    background-color: rgb(255, 249, 249);
}
 
header {
    padding: 50px;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
  }
  
  header {
    padding: 0px;
  }

