.homeBody {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    background-color: #cbdad5;
}

.home {
    width: 60%;
    line-height: 30px;
    margin: 20px 0px 20px 0px;
}

.home .title-home {
    /* border: 1px solid blue; */
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.1em;
}

.home .text-home {
    font-size: 1.3em;
}

.img-body {
    margin: 25px 0px 25px 0px;
    width: 31%;
    /* border: 1px solid green; */
}

img {
    /* border: 1px solid black; */
    position: relative;
    width: 100%;
}