.place-container {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color2);
  }
  .place-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .place-actions{
    display: flex;
  }
  .trash{
    float: left;

  }
  .delete{ 
    float: right;

  }
  .place {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    border-radius:10px;
  }
  
  h3 {
    margin-bottom: 10px;
    font-size: 35px;
    
  }
  
  .trash {
    color: #5754fd;
  }
  
  .fav {
    display: flex;
    text-align: center;
    height: 34px;
    width: 34px;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000005e;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .fav:hover {
    cursor: pointer;
    background-color: #64555548;
    display: flex;
   
  }
  

  .imagen{
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 12px;
  }
  .target{
    display: flex;
  }
  .targetderecha{
    
    margin-top: 12px;
    margin-left: 22px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    
  }