@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}